# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.pytest_cache/

# Environments
.env
venv/
env/
*.venv

# Editor directories and files
.idea/             # PyCharm
.vscode/           # VS Code
*.iml              # IntelliJ IDEA

# OS files
.DS_Store          # macOS
Thumbs.db          # Windows

# Jupyter / IPython
.ipynb_checkpoints

# Python build
dist/
build/
*.egg-info/

# Logs and data
*.log
*.sqlite3

# Specific to this project
# Results of analysis
analysis/results/